Header{
    padding:10px;
    display: flex;
    justify-content: end;
    margin: 10px;
}

Header h1{
    margin-right: 50px;
}

#homeBtn:hover{
    text-shadow: 0 0 5px grey;
}

#searchBtn{
    background-color: tan;
    border: none;
    margin: 10px;
    width: 30px;
    height: 30px;
}

#searchBtn:hover{
    color: white;
}
