.container{

    border-radius: 30px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

#foodImage{
    background-color: orange;
    width: 50%;
    margin: 10px;
}

.recipe{
    width: 50%;
}

.timeSection{
    display: flex;
    justify-content: space-around;
}

