<div class="container">
	<img src="{{recipe().image}}" alt="" id="foodImage">
	
	<div class="recipe">
		<h3>{{recipe().name}}</h3>
		<div class="tags">
			@for (item of recipe().tags; track $index) {
				<p class="tagItem">{{item}}</p>
			}
		</div>
		
		<div class="ratingSection">
			<div>
				@for (item of getRatingStars(recipe().rating); track $index) {
				<i class="fa-solid fa-star"></i>
				}
				@if(halfStar(recipe().rating) >= .5){
					<i class="fa-solid fa-star-half-stroke"></i>
				}
			</div>
			

			<div>
				<p>{{recipe().rating}} of 5</p>
			</div>

		</div>
		
		<div class="timeSection">
				<p>{{recipe().prepTimeMinutes + recipe().cookTimeMinutes}}<br>MINS</p>
				<div class="line"></div>
				<p>{{recipe().caloriesPerServing}}<br>CALS</p>
				<div class="line"></div>
				<p>{{recipe().servings}}<br>SERVINGS</p>
			
		</div>
		<hr>

		<button class="btn tanish">Checkout Full Recipe</button>
		
		
	</div>
</div>